<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring Security</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container text-center my-5">
  <h1>Spring Security</h1>
  <p>
    <a th:href="@{/users}">List of Users</a><br>
    <a th:href="@{/register}">Register</a><br>
    <a th:href="@{/login}">Login</a>
  </p>
</div>
</body>
</html>